@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<html>
    <body class="bgpattern-home">
        <table border="0" width="90%">
            <tr>
                <td colspan="3">
                    <div class="text-center">
                        <font size="10" face="Monotype Corsiva">You are welcome to Partner Management Page</font>
                        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
                    </div>
                </td>
            </tr>
            <tr>
                <td align="center" width="30%"><a class="nav-link text-dark" asp-area="" asp-page="/JyuhacchuuShingiPage"><font size="6" face="HGP行書体" color="#008b8b">受発注審議お役立ち</font><font size="10" face="Monotype Corsiva" color="#008b8b">Bot</font></a></td>
            </tr>
        </table>
</body>
</html>
